pipeline/CFCededHistoryLKP.json
{
	"name": "CFCededHistoryLKP",
	"properties": {
		"activities": [
			{
				"name": "CededHistorylookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlMISource",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "CFCededHistory_Parameter",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "CededHistoryForEach",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "CededHistorylookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('CededHistorylookup').output.value",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": []
	}
}