pipeline/CFCededHistorylookupcpy.json
{
	"name": "CFCededHistorylookupcpy",
	"properties": {
		"activities": [
			{
				"name": "checkdatafactoryname",
				"type": "IfCondition",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(pipeline().DataFactory,'e2nprddfcf')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "setcopydatatoFalse",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "Copydata",
								"value": "Select * from wrk.pipeline_parameter where year(InsertedDate) = 2019"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Setcopydatatotrue",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "Copydata",
								"value": "Select * from wrk.pipeline_parameter"
							}
						}
					]
				}
			},
			{
				"name": "CededHistorylookup",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "checkdatafactoryname",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlMISource",
						"sqlReaderQuery": {
							"value": "@variables('Copydata')",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "CFCededHistory_Parameter",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "CededHistoryForEach",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "CededHistorylookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('CededHistorylookup').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Copy_CededCF_History_DATA",
							"description": "Copy ceded history data to azure table storage",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderStoredProcedureName": {
										"value": "@concat(item().TABLE_CATALOG,'.',item().SQLtxt)",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureTableSink",
									"azureTableInsertType": "merge",
									"azureTableDefaultPartitionKeyValue": {
										"value": "@formatDateTime(convertFromUtc(utcnow(),'Eastern Standard Time','F') ,'yyyy-MM-dd H:mm:ss')",
										"type": "Expression"
									},
									"writeBatchSize": 10000
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "CededCFHistoryreinsurance",
									"type": "DatasetReference",
									"parameters": {
										"Schema": {
											"value": "@item().TABLE_CATALOG",
											"type": "Expression"
										},
										"StoredProc": {
											"value": "@item().SQLtxt",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "CFDMCededHistory",
									"type": "DatasetReference",
									"parameters": {
										"TableName": {
											"value": "@{item().Table_Name}",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"Copydata": {
				"type": "String",
				"defaultValue": "Select * from wrk.pipeline_parameter"
			}
		},
		"annotations": []
	}
}