pipeline/cfdm_load.json
{
	"name": "cfdm_load",
	"properties": {
		"activities": [
			{
				"name": "dimworkmatter",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Create_FK",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dm].[usp_DimWorkMatter]"
				},
				"linkedServiceName": {
					"referenceName": "CashflowDMDev",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "dimadjuster",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "dimworkmatter",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dm].[usp_DimAdjuster]"
				},
				"linkedServiceName": {
					"referenceName": "CashflowDMDev",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "dimnotifications",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "dimadjuster",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dm].[usp_DimNotification]"
				},
				"linkedServiceName": {
					"referenceName": "CashflowDMDev",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "dimclaim",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "dimnotifications",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dm].[usp_DimClaim]"
				},
				"linkedServiceName": {
					"referenceName": "CashflowDMDev",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "dimexposure",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "dimclaim",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dm].[usp_DimExposure]"
				},
				"linkedServiceName": {
					"referenceName": "CashflowDMDev",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "dimpolicy",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "dimexposure",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dm].[usp_DimPolicy]"
				},
				"linkedServiceName": {
					"referenceName": "CashflowDMDev",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "dimreinsurance",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "dimpolicy",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dm].[usp_DimReinsurance]"
				},
				"linkedServiceName": {
					"referenceName": "CashflowDMDev",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "factactuals",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "dimreinsurance",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dm].[usp_FactActuals]"
				},
				"linkedServiceName": {
					"referenceName": "CashflowDMDev",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "factcashfow",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "factactuals",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dm].[usp_FactCashflow]"
				},
				"linkedServiceName": {
					"referenceName": "CashflowDMDev",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "factcededcashflow",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "factcashfow",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dm].[usp_FactCededCashflow]"
				},
				"linkedServiceName": {
					"referenceName": "CashflowDMDev",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Drop FKs",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[wrk].[ups_Drop_Create_ForeignKeys]",
					"storedProcedureParameters": {
						"execStep": {
							"value": "DROP",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "CashflowDMDev",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "DM_TruncateTables",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Drop FKs",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dm].[usp_DimTruncateTable]",
					"storedProcedureParameters": {
						"schemaName": {
							"value": "dm",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "CashflowDMDev",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Create_FK",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "DM_TruncateTables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[wrk].[ups_Drop_Create_ForeignKeys]",
					"storedProcedureParameters": {
						"execStep": {
							"value": "CREATE",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "CashflowDMDev",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "on_DM_DimWM_Error",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "dimworkmatter",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-24.eastus2.logic.azure.com:443/workflows/eaaed2f555c848569c66f4bddd9650ee/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=YfZfaCBag5j8z3BEyO5MIkSLTbdQiR09hzKcVOUQZz0",
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"message": "@{activity('dimworkmatter').error.message}",
						"dataFactoryName": "@{pipeline().DataFactory}",
						"pipelineName": "@{pipeline().Pipeline}"
					}
				}
			},
			{
				"name": "on_DM_DimAdjuster_Error",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "dimadjuster",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-24.eastus2.logic.azure.com:443/workflows/eaaed2f555c848569c66f4bddd9650ee/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=YfZfaCBag5j8z3BEyO5MIkSLTbdQiR09hzKcVOUQZz0",
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"message": "@{activity('dimAdjuster').error.message}",
						"dataFactoryName": "@{pipeline().DataFactory}",
						"pipelineName": "@{pipeline().Pipeline}"
					}
				}
			},
			{
				"name": "on_DM_DimClaim_Error",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "dimclaim",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-24.eastus2.logic.azure.com:443/workflows/eaaed2f555c848569c66f4bddd9650ee/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=YfZfaCBag5j8z3BEyO5MIkSLTbdQiR09hzKcVOUQZz0",
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"message": "@{activity('dimClaim').error.message}",
						"dataFactoryName": "@{pipeline().DataFactory}",
						"pipelineName": "@{pipeline().Pipeline}"
					}
				}
			},
			{
				"name": "on_DM_DimAdjuster_Error_copy1_copy1",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-24.eastus2.logic.azure.com:443/workflows/eaaed2f555c848569c66f4bddd9650ee/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=YfZfaCBag5j8z3BEyO5MIkSLTbdQiR09hzKcVOUQZz0",
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"message": "@{activity('dimAdjuster').error.message}",
						"dataFactoryName": "@{pipeline().DataFactory}",
						"pipelineName": "@{pipeline().Pipeline}"
					}
				}
			},
			{
				"name": "on_DM_DimNotifications_Error",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "dimnotifications",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-24.eastus2.logic.azure.com:443/workflows/eaaed2f555c848569c66f4bddd9650ee/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=YfZfaCBag5j8z3BEyO5MIkSLTbdQiR09hzKcVOUQZz0",
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"message": "@{activity('dimNotifications').error.message}",
						"dataFactoryName": "@{pipeline().DataFactory}",
						"pipelineName": "@{pipeline().Pipeline}"
					}
				}
			},
			{
				"name": "on_DM_DimAdjuster_Error_copy1_copy3",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-24.eastus2.logic.azure.com:443/workflows/eaaed2f555c848569c66f4bddd9650ee/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=YfZfaCBag5j8z3BEyO5MIkSLTbdQiR09hzKcVOUQZz0",
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"message": "@{activity('dimAdjuster').error.message}",
						"dataFactoryName": "@{pipeline().DataFactory}",
						"pipelineName": "@{pipeline().Pipeline}"
					}
				}
			},
			{
				"name": "on_DM_DimAdjuster_Error_copy1_copy4",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-24.eastus2.logic.azure.com:443/workflows/eaaed2f555c848569c66f4bddd9650ee/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=YfZfaCBag5j8z3BEyO5MIkSLTbdQiR09hzKcVOUQZz0",
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"message": "@{activity('dimAdjuster').error.message}",
						"dataFactoryName": "@{pipeline().DataFactory}",
						"pipelineName": "@{pipeline().Pipeline}"
					}
				}
			},
			{
				"name": "on_DM_DimAdjuster_Error_copy1_copy5",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-24.eastus2.logic.azure.com:443/workflows/eaaed2f555c848569c66f4bddd9650ee/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=YfZfaCBag5j8z3BEyO5MIkSLTbdQiR09hzKcVOUQZz0",
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"message": "@{activity('dimAdjuster').error.message}",
						"dataFactoryName": "@{pipeline().DataFactory}",
						"pipelineName": "@{pipeline().Pipeline}"
					}
				}
			}
		],
		"annotations": []
	}
}