pipeline/emailTest.json
{
	"name": "emailTest",
	"properties": {
		"activities": [
			{
				"name": "Start_SendMail",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Aziz_Is_Testing",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-24.eastus2.logic.azure.com:443/workflows/eaaed2f555c848569c66f4bddd9650ee/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=YfZfaCBag5j8z3BEyO5MIkSLTbdQiR09hzKcVOUQZz0",
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"message": "@{activity('Aziz_Is_Testing').error.message}",
						"dataFactoryName": "@{pipeline().DataFactory}",
						"pipelineName": "@{pipeline().Pipeline}"
					}
				}
			},
			{
				"name": "Aziz_Is_Testing",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "OnStart_SendMail",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "select 1 from test",
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "SqlServerSink"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "BIASRC01",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "BIDEVDM01",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "OnStart_SendMail",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-42.eastus2.logic.azure.com:443/workflows/e1a498e592c74ccfa38822975735cb8f/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=BeS6_l3JEkWqHrQKwmGtZi4T0CVHw4nDW_X2OcVDrXw",
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": "{\n   \"DataFactoryName\": \"@{pipeline().DataFactory}\",\n   \"PipelineName\": \"@{pipeline().Pipeline}\",\n   \"Subject\": \"The CFDM_END_TO_END pipeline started!\",\n   \"Message\": \"The CFDM_END_TO_END pipeline started!\",\n   \n}"
				}
			}
		],
		"annotations": []
	}
}