pipeline/staging_Reinusrance.json
{
	"name": "staging_Reinusrance",
	"properties": {
		"activities": [
			{
				"name": "Reinsurance_staging",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "   select\n        DISTINCT \n        F.ClaimNo,\n        F.ExposureNo,\n        F.SrcReinsur_ID as Sapiens_Reinsurer_ID,\n        F.SrcBrokerID as Sapiens_Broker_ID,\n        F.SrcPoolID as Sapiens_Pool_ID,\n        F.SecontRefNo,\n        F.RetentionInd,\n        convert(\n            date,\n            DATEADD(\n                dd,\n                -1,\n                DATEADD(qq, DATEDIFF(qq, 0, F.Valuation_Dt), 0)\n            )\n        ) as Entrydate,\n        F.Valuation_Dt,\n        F.CashFlowBatchID,\n        C.Credit_Provision_Percent,\n        R.Reco_Desc as ReinsurerName,\n        E.Pool_Name,\n        d.Broker_Desc,\n        b.Related_Claim_No,  \n        SUM(F.Case_Loss) as projectedCededTotalPaidExInLimits,\n        --Map to projectedCededTotalPaidExInLimits\n        SUM(F.Case_Adjusting_Expense) as projectedCededTotalPaidDefExpense,\n        --Map to projectedCededTotalPaidDefExpense\n        SUM(F.Case_Coverage_DJ_Expense) as projectedCededPaidCoverageDjExpense,\n\t\tCONVERT(VARCHAR(32), HashBytes('MD5', \n\t\t  CONCAT(ClaimNo, ' ', ExposureNo, ' ', CAST(F.SrcReinsur_ID AS VARCHAR), ' ', CAST(F.SrcBrokerID AS VARCHAR), ' ', CAST(F.SrcPoolID AS VARCHAR), ' ', \n\t\t  SecontRefNo, ' ', RetentionInd, ' ', CAST(      convert(\n            date,\n            DATEADD(\n                dd,\n                -1,\n                DATEADD(qq, DATEDIFF(qq, 0, F.Valuation_Dt), 0)\n            )\n        ) AS VARCHAR), ' ', Credit_Provision_Percent, ' ', R.Reco_Desc, ' ', Pool_Name, ' ', Broker_Desc, ' ', Related_Claim_No, ' ',\n\t\t  CAST(sum(F.Case_Loss) AS VARCHAR), ' ', CAST(sum(F.Case_Adjusting_Expense) AS VARCHAR), ' ', CAST(Sum(F.Case_Coverage_DJ_Expense) AS VARCHAR))\n\t\t  ),2) as CededHashKey\n\n    FROM\n        [RS_ODS].[trn].[Ceded_Financial_Transaction] F\n        left JOIN RS_ODS.rein.Reinsurer R ON F.SrcReinsur_ID = R.System_Reco_Cd\n        AND R.Sys_RowEndDt = '9999-12-31'\n        left join [rein].[Pool] as e on F.[PoolID] = e.[Pool_ID] and e.Sys_RowEndDt = '9999-12-31'\n        left join [rein].[Broker] as d on F.[BrokerID] = d.[BrokerID] and d.Sys_RowEndDt = '9999-12-31'\n        left join [ref].[Rein_Related_Claims] as b on F.[ClaimNo] = b.sapiens_Claim_no\n        and F.[ExposureNo] = b.exposure_no\n        LEFT JOIN RS_ODS.rein.Reinsurer_Credit_Provision C ON C.Reinsurer_ID = R.Reinsurer_ID\n        AND C.Status_Cd = 'VAL'\n        AND C.Sys_RowEndDt = '9999-12-31'\n\tWHERE\n        Valuation_Dt =(\n            SELECT\n                MAX(Valuation_Dt)\n            FROM\n                [RS_ODS].[trn].[Ceded_Financial_Transaction]\n       )\n\t\n\tGROUP BY\n        F.ClaimNo,\n        F.ExposureNo,\n        F.SrcReinsur_ID,\n        F.SrcBrokerID,\n        F.SrcPoolID,\n        F.SecontRefNo,\n        F.RetentionInd,\n        convert(\n            date,\n            DATEADD(\n                dd,\n                -1,\n                DATEADD(qq, DATEDIFF(qq, 0, F.Valuation_Dt), 0)\n            )\n        ),\n        F.Valuation_Dt,\n        F.CashFlowBatchID,\n        C.Credit_Provision_Percent,\n        R.Reco_Desc,\n        E.Pool_Name,\n        d.Broker_Desc,\n        b.Related_Claim_No\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SqlMISink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ClaimNo",
									"type": "String"
								},
								"sink": {
									"name": "claimNumber",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ExposureNo",
									"type": "String"
								},
								"sink": {
									"name": "exposure_No",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Sapiens_Reinsurer_ID",
									"type": "Int32"
								},
								"sink": {
									"name": "sapiensReinsurerID",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "Sapiens_Broker_ID",
									"type": "Int32"
								},
								"sink": {
									"name": "sapiensBrokerID",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "Sapiens_Pool_ID",
									"type": "Int32"
								},
								"sink": {
									"name": "sapiensPoolID",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "SecontRefNo",
									"type": "String"
								},
								"sink": {
									"name": "sectionReferenceNumber",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "RetentionInd",
									"type": "String"
								},
								"sink": {
									"name": "retentionInd",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Entrydate",
									"type": "DateTime"
								},
								"sink": {
									"name": "entrydate",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "CashFlowBatchID",
									"type": "Int64"
								},
								"sink": {
									"name": "CashFlowBatchID",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "Credit_Provision_Percent",
									"type": "Decimal"
								},
								"sink": {
									"name": "creditProvisionPercent",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ReinsurerName",
									"type": "String"
								},
								"sink": {
									"name": "reinsurerName",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Pool_Name",
									"type": "String"
								},
								"sink": {
									"name": "pool_Name",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Broker_Desc",
									"type": "String"
								},
								"sink": {
									"name": "brokerName",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Related_Claim_No",
									"type": "String"
								},
								"sink": {
									"name": "relatedClaimNumber",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "projectedCededTotalPaidExInLimits",
									"type": "Decimal"
								},
								"sink": {
									"name": "projectedCededTotalPaidLossExInLimits",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "projectedCededTotalPaidDefExpense",
									"type": "Decimal"
								},
								"sink": {
									"name": "projectedCededTotalPaidDefExpense",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "projectedCededPaidCoverageDjExpense",
									"type": "Decimal"
								},
								"sink": {
									"name": "projectedCededPaidCoverageDJExpense",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "CededHashKey",
									"type": "String"
								},
								"sink": {
									"name": "CededFactsHashKey",
									"type": "String"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "reinsurance",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "stgreinsurance",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "on_Stg_Reinsurance_Error",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Reinsurance_staging",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-24.eastus2.logic.azure.com:443/workflows/eaaed2f555c848569c66f4bddd9650ee/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=YfZfaCBag5j8z3BEyO5MIkSLTbdQiR09hzKcVOUQZz0",
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"message": "@{activity('Reinsurance_staging').error.message}",
						"dataFactoryName": "@{pipeline().DataFactory}",
						"pipelineName": "@{pipeline().Pipeline}"
					}
				}
			},
			{
				"name": "stgReinsuranceLoad_Completion",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Reinsurance_staging",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-20.eastus2.logic.azure.com:443/workflows/d388a3be879a4a2c8e55e95a9d4fce26/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=Gp6eGx2LNep2SU_asbY9QiirT2OF2Nl7LGYMVfhoefg",
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"value": "{\n   \"DataFactoryName\": \"@{pipeline().DataFactory}\",\n   \"PipelineName\": \"@{pipeline().Pipeline}\",\n   \"Subject\": \"STGReinsurance pipeline Completed Successfuly!\",\n   \"Message\": \"The STGReinsurance  pipeline Successfully!\",\n   \n}",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": []
	}
}