pipeline/stagingcashflowlatest.json
{
	"name": "stagingcashflowlatest",
	"properties": {
		"activities": [
			{
				"name": "stgfactcashflowlatest",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "DECLARE @currenQ DATE,\n@mEnddate DATE\nSELECT\n    @currenQ = CAST(\n        DateAdd(\n            day,\n            -1,\n            dateadd(qq, DateDiff(qq, 0, GETDATE()), 0)\n        ) AS DATE\n    )\nSELECT\n    @mEnddate = CAST(MAX(EndTime) AS DATE)\nFROM\n    [Prod_CashFlow].[reporting].[CashFlowEntry]\nWHERE\n    EndTime IS NOT NULL;\n\n\n\nWITH CashFlowRaw AS (\n    SELECT\n        [WorkMatter],\n        [Exposure],\n        [ValueName],\n        [Amount],\n        [EndUser],\n        [EndTime],\n        @currenQ as Cashflowentryperiod,\n        EOMONTH(\n            CAST(\n                (\n                    RIGHT('00' + CONVERT(VARCHAR, (Quarter * 3)), 2) + '-' + RIGHT('00' + CONVERT(VARCHAR, 5), 2) + '-' + CONVERT(VARCHAR, [YEAR])\n                ) as Date\n            )\n        ) as CFProjectionsfor,\n        DateDIFF(\n            quarter,\n            @currenQ,\n            EOMONTH(\n                CAST(\n                    (\n                        RIGHT('00' + CONVERT(VARCHAR, (Quarter * 3)), 2) + '-' + RIGHT('00' + CONVERT(VARCHAR, 5), 2) + '-' + CONVERT(VARCHAR, [YEAR])\n                    ) as Date\n                )\n            )\n        ) as datediff\n    FROM\n        [Prod_CashFlow].[reporting].[CashFlowEntry]\n    where\n        (\n            CAST(EndTime AS DATE) IS NULL\n            or CAST(EndTime AS DATE) = @mEnddate\n        )\n        and Year != 0\n        and DateDIFF(\n            quarter,\n            @currenQ,\n            EOMONTH(\n                CAST(\n                    (\n                        RIGHT('00' + CONVERT(VARCHAR, (Quarter * 3)), 2) + '-' + RIGHT('00' + CONVERT(VARCHAR, 5), 2) + '-' + CONVERT(VARCHAR, [YEAR])\n                    ) as Date\n                )\n            )\n        ) in ('1', '2', '3', '4', '5', '6')\n    union\n    SELECT\n        [WorkMatter],\n        [Exposure],\n        [ValueName],\n        [Amount],\n        [EndUser],\n        [EndTime],\n        @currenQ as Cashflowentryperiod,\n        NULL as CFProjectionsfor,\n        '9999' as datediff\n    FROM\n        [Prod_CashFlow].[reporting].[CashFlowEntry]\n    where\n        (\n            CAST(EndTime AS DATE) IS NULL\n            or CAST(EndTime AS DATE) = @mEnddate\n        )\n        and Year = 0\n),\npivotdata as (\n    select\n        *\n    from\n        (\n            SELECT\n                [WorkMatter],\n                [Exposure],\n                Cashflowentryperiod,\n                CFProjectionsfor,\n                [ValueName],\n                [Amount],\n                [EndUser],\n                [EndTime]\n            FROM\n                CashFlowRaw\n        ) AS SourceTable PIVOT (\n            sum(Amount) FOR ValueName IN (Loss, DefExp, CovDJ)\n        ) AS PivotData\n)\nselect\n    distinct p.[WorkMatter],\n    [Exposure],\n    Cashflowentryperiod,\n    CFProjectionsfor,\n    Sum(Loss) AS Loss,\n    sum(DefExp) AS DefExp,\n    sum(CovDJ) AS CovDJ\nfrom\n    pivotdata P\n    join [Prod_CashFlow].[reporting].[WorkMatters] w on p.WorkMatter = w.WorkMatter\n    join [Prod_CashFlow].[reporting].[Exposures] e on p.WorkMatter = e.WorkMatter\n    and p.Exposure = e.ExpID \ngroup by\n    p.[WorkMatter],\n    [Exposure],\n    Cashflowentryperiod,\n    CFProjectionsfor",
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "SqlMISink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Exposure",
									"type": "String"
								},
								"sink": {
									"name": "claimExposureNo",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "WorkMatter",
									"type": "String"
								},
								"sink": {
									"name": "workMatterNumber",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Cashflowentryperiod",
									"type": "DateTime"
								},
								"sink": {
									"name": "cashFlowEntryPeriod",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "CFProjectionsfor",
									"type": "DateTime"
								},
								"sink": {
									"name": "cashFlowProjectionsfFor",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "Loss",
									"type": "Decimal"
								},
								"sink": {
									"name": "projectedPaidLossExInLimits",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "CovDJ",
									"type": "Decimal"
								},
								"sink": {
									"name": "projectedPaidCoverageDJExpense",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "DefExp",
									"type": "Decimal"
								},
								"sink": {
									"name": "projectedTotalPaidDefExpense",
									"type": "Decimal"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "BIASRC01",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "stgfactcashflow",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "slg_FactCashFlow_Completion",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "stgfactcashflowlatest",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-20.eastus2.logic.azure.com:443/workflows/d388a3be879a4a2c8e55e95a9d4fce26/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=Gp6eGx2LNep2SU_asbY9QiirT2OF2Nl7LGYMVfhoefg",
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"value": "{\n   \"DataFactoryName\": \"@{pipeline().DataFactory}\",\n   \"PipelineName\": \"@{pipeline().Pipeline}\",\n   \"Subject\": \"STGCashFlow pipeline Completed Successfuly!\",\n   \"Message\": \"STGCashFlow pipeline Successfully!\",\n   \n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "on_Stg_factCashFlow_Error",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "stgfactcashflowlatest",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-24.eastus2.logic.azure.com:443/workflows/eaaed2f555c848569c66f4bddd9650ee/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=YfZfaCBag5j8z3BEyO5MIkSLTbdQiR09hzKcVOUQZz0",
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"message": "@{activity('stg_factactuals').error.message}",
						"dataFactoryName": "@{pipeline().DataFactory}",
						"pipelineName": "@{pipeline().Pipeline}"
					}
				}
			}
		],
		"annotations": []
	}
}